
.wrapper {
  position: relative;
}

.wrapper p {
  bottom: 13%;
    color: black;
    font-family: Roboto;
    font-size: 13px;
    left: 14%;
    padding: 0.25em 0.75em;
    position: absolute;
    margin-left: -40px;
}

.header{
    position: absolute;
    padding-left: 20px;
}

